<section class="attendance" id="attendance">
  <div class="attendance-inner">
    <div class="attendance-title">
      <h1>
        <p class="attendance-title-en"><img src="/svg/title-rsvp.svg" /></p>
        <p class="attendance-title-ja">ご出欠</p>
      </h1>
    </div>
    <div class="attendance-des">
      <p>
        郵送でのご案内状に代わり当招待状をお送りしております<br />
        お手数ではございますが出席情報のご登録をお願い申し上げます
      </p>
      <p>
        また当日のお食事のご用意にあたりアレルギー等がある方は<br />
        アレルギー欄にご記入くださいますようお願い申し上げます
      </p>
      <p><span>2023.3.20</span>までにご返信をお願いいたします</p>
    </div>
    <div class="attendance-form">
      <div class="attendance-bg">
        <svg class="border-bg">
          <path />
        </svg>
      </div>
      <form>
        <p class="attendance-form-des center">いずれかをお選びください</p>
        <select name="attendance" hidden>
          <option value="-1"></option>
          <option value="1"></option>
          <option value="0"></option>
        </select>
        <div class="attendance-form-btns">
          <div class="attendance-form-btn" data-value="1">
            <div class="attendance-form-btn-bg">
              <%-include('./svg/btn-attend.svg')%>
            </div>
            <div class="attendance-form-btn-deco"><span></span></div>
            <div class="attendance-form-btn-inner">
              <p class="attendance-form-btn-ja">ご出席</p>
              <p class="attendance-form-btn-en">will attend</p>
            </div>
          </div>
          <div class="attendance-form-btn" data-value="2">
            <div class="attendance-form-btn-bg">
              <%-include('./svg/btn-attend-not.svg')%>
            </div>
            <div class="attendance-form-btn-deco"></div>
            <div class="attendance-form-btn-inner">
              <p class="attendance-form-btn-ja">ご欠席</p>
              <p class="attendance-form-btn-en">will not attend</p>
            </div>
          </div>
        </div>
        <p class="attendance-form-des"><span>*</span>は必須項目です</p>
        <div class="attendance-form-items">
          <div class="attendance-form-item">
            <div class="attendance-form-item-flex">
              <div class="attendance-form-item-flex-item required">
                <label for="sei">姓</label>
                <div class="input-wrap">
                  <svg class="input-wrap-svg"><path /></svg>
                  <input name="sei" type="text" required placeholder="岡村" />
                </div>
              </div>
              <div class="attendance-form-item-flex-item required">
                <label for="namae">名</label>
                <div class="input-wrap">
                  <svg class="input-wrap-svg"><path /></svg>
                  <input name="namae" type="text" required placeholder="裕樹" />
                </div>
              </div>
            </div>
            <div class="attendance-form-item-flex">
              <div class="attendance-form-item-flex-item required">
                <label for="sei-furigana">せい</label>
                <div class="input-wrap">
                  <svg class="input-wrap-svg"><path /></svg>
                  <input
                    name="sei-furigana"
                    type="text"
                    required
                    placeholder="おかむら"
                  />
                </div>
              </div>
              <div class="attendance-form-item-flex-item required">
                <label for="namae-furigana">めい</label>
                <div class="input-wrap">
                  <svg class="input-wrap-svg"><path /></svg>
                  <input
                    name="namae-furigana"
                    type="text"
                    required
                    placeholder="ゆうき"
                  />
                </div>
              </div>
            </div>
            <div class="attendance-form-item-box required">
              <label for="mail">メールアドレス</label>
              <div class="input-wrap">
                <svg class="input-wrap-svg"><path /></svg>
                <input
                  name="mail"
                  type="email"
                  required
                  placeholder="contact@yukiokamura.com"
                />
              </div>
            </div>
          </div>
          <div class="attendance-form-item">
            <div class="attendance-form-item-flex">
              <div class="attendance-form-item-flex-item required">
                <label for="number">郵便番号</label>
                <div class="input-wrap">
                  <svg class="input-wrap-svg"><path /></svg>
                  <input
                    name="number"
                    type="text"
                    required
                    placeholder="ハイフンなし"
                  />
                </div>
              </div>
              <div class="attendance-form-item-flex-item required">
                <label for="tel">電話番号</label>
                <div class="input-wrap">
                  <svg class="input-wrap-svg"><path /></svg>
                  <input
                    name="tel"
                    type="tel"
                    required
                    placeholder="08012345678"
                  />
                </div>
              </div>
            </div>

            <div class="attendance-form-item-box required">
              <label for="address">住所</label>
              <div class="input-wrap">
                <svg class="input-wrap-svg"><path /></svg>
                <input
                  name="address"
                  type="text"
                  required
                  placeholder="東京都千代田区霞が関三丁目2番1号霞が関コモンゲート西館37階"
                />
              </div>
            </div>
          </div>
          <div class="attendance-form-item">
            <div class="attendance-form-item-box">
              <label for="allergie"
                >アレルギーがありましたらご記入ください</label
              >
              <div class="input-wrap">
                <svg class="input-wrap-svg"><path /></svg>
                <input name="allergie" type="text" placeholder="なし" />
              </div>
            </div>
            <div class="attendance-form-item-box">
              <label for="message">メッセージ</label>
              <div class="input-wrap">
                <svg class="input-wrap-svg"><path /></svg>
                <textarea name="message"></textarea>
              </div>
            </div>
          </div>
          <div class="attendance-form-item">
            <button type="submit">入力内容を確認する</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
