<section class="attendance comfirmation">
  <div class="attendance-inner">
    <div class="attendance-title">
      <h1>
        <p class="attendance-title-en"><img src="/svg/title-rsvp.svg" /></p>
        <p class="attendance-title-ja">送信内容のご確認</p>
      </h1>
    </div>
    <div class="attendance-des">
      <p>以下の内容で送信してよろしいでしょうか？</p>
    </div>
    <div class="attendance-form">
      <div class="attendance-bg">
        <svg class="border-bg">
          <path />
        </svg>
      </div>
      <form>
        <div class="attendance-form-items">
          <div class="attendance-form-item-comfirm">
            <div class="attendance-form-item-flex">
              <div class="attendance-form-item-title">ご出欠</div>
              <div class="attendance-form-item-des js-attendance"></div>
            </div>
          </div>
          <div class="attendance-form-item">
            <div class="attendance-form-item-flex">
              <div class="attendance-form-item-title">お名前</div>
              <div class="attendance-form-item-des js-attendance-name"></div>
            </div>
            <div class="attendance-form-item-flex">
              <div class="attendance-form-item-title">ふりがな</div>
              <div class="attendance-form-item-des js-attendance-kana"></div>
            </div>
            <div class="attendance-form-item-flex">
              <div class="attendance-form-item-title">メールアドレス</div>
              <div class="attendance-form-item-des js-attendance-mail"></div>
            </div>
          </div>
          <div class="attendance-form-item">
            <div class="attendance-form-item-flex">
              <div class="attendance-form-item-title">電話番号</div>
              <div class="attendance-form-item-des js-attendance-tel"></div>
            </div>
            <div class="attendance-form-item-flex">
              <div class="attendance-form-item-title">郵便番号</div>
              <div class="attendance-form-item-des js-attendance-number"></div>
            </div>
            <div class="attendance-form-item-flex">
              <div class="attendance-form-item-title">住所</div>
              <div class="attendance-form-item-des js-attendance-address"></div>
            </div>
          </div>
          <div class="attendance-form-item">
            <div class="attendance-form-item-flex">
              <div class="attendance-form-item-title">アレルギー</div>
              <div
                class="attendance-form-item-des js-attendance-allergie"
              ></div>
            </div>
            <div class="attendance-form-item-flex">
              <div class="attendance-form-item-title">メッセージ</div>
              <div
                class="attendance-form-item-des js-attendance-message"
                style="white-space: pre"
              ></div>
            </div>
          </div>
          <div class="attendance-form-item">
            <div class="attendance-form-item-btns">
              <button type="submit">この内容で送信する</button>
              <button class="backbtn" type="button">
                <svg class="input-wrap-svg"><path /></svg>修正する
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
