<footer class="footer">
  <div class="footer-go-top js-anchor" data-target=".kv">
    <img src="/svg/footer-go-top.svg" />
  </div>
  <div class="footer-inner">
    <div class="footer-title">
      <img src="/svg/title-footer.svg" />
    </div>
    <div class="footer-items">
      <div class="footer-item">
        <div class="footer-item-title">
          <p>日時</p>
        </div>
        <div class="footer-item-des">
          <p class="footer-item-des-title">2023年11月4日（土曜日）</p>
          <div class="footer-item-des-contents">
            <p>挙　式</p>
            <p>13時45分（受付 12時45分）</p>
          </div>
          <div class="footer-item-des-contents">
            <p>披露宴</p>
            <p>15時00分</p>
          </div>
        </div>
      </div>
      <div class="footer-item">
        <div class="footer-item-title">
          <p>会場</p>
        </div>
        <div class="footer-item-des">
          <p class="footer-item-des-title">霞山会館</p>
          <div class="footer-item-des-contents">
            <p>住　所</p>
            <p>
              <a
                href="https://www.google.co.jp/maps/place/%E9%9C%9E%E5%B1%B1%E4%BC%9A%E9%A4%A8%E3%82%A6%E3%82%A8%E3%83%87%E3%82%A3%E3%83%B3%E3%82%B0/@35.6717955,139.7453631,17z/data=!3m2!4b1!5s0x60188b8c2cc7215b:0xdc0076c294562221!4m6!3m5!1s0x60188b3940b2b37d:0x21a9355a969114e5!8m2!3d35.6717955!4d139.7479434!16s%2Fg%2F11nyq341sn?hl=ja&entry=tts&shorturl=1"
                target="_blank"
                >東京都千代田区霞が関三丁目2番1号<br />霞が関コモンゲート西館37階</a
              >
            </p>
          </div>
          <div class="footer-item-des-contents">
            <p>電　話</p>
            <p><a href="tel:03-3581-1022">03-3581-1022</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copy">
      <p>©️ 2023 yukiokamura<br />Design by Shohei Yamaguchi</p>
    </div>
  </div>
  <div class="footer-logo">
    <img src="/svg/footer-logo.svg" />
  </div>
</footer>
