<header class="header">
  <div class="header-inner">
    <a
      href="#greeting"
      class="header-text js-anchor"
      data-target=".kv-message"
      data-margin="80"
    >
      <div class="">ご挨拶</div>
    </a>
    <a href="#date" class="header-text js-anchor" data-target=".info-date">
      <div class="">日時</div>
    </a>
    <a href="/">
      <div class="header-logo"><%-include('../svg/logo-header.svg')%></div>
    </a>
    <a href="#access" class="header-text js-anchor" data-target=".info-place">
      <div class="">会場</div>
    </a>
    <a
      href="#attendance"
      class="header-text js-anchor"
      data-target="#attendance"
    >
      <div class="">出欠</div>
    </a>
  </div>
</header>
