<section class="info">
  <div class="info-inner">
    <div class="info-date info-contents">
      <div class="info-contents-text">
        <div class="info-contents-title">
          <img src="/svg/title-date.svg" />
        </div>
        <div class="info-contents-title-ja">日時</div>
        <div class="info-contents-date">2023年11月4日（土曜日）</div>
        <div class="info-contents-date-timetitle">挙　式　13時45分</div>
        <div class="info-contents-date-time">（受　付　12時45分）</div>
        <div class="info-contents-date-timetitle">披露宴　15時00分</div>
      </div>
      <div class="info-img">
        <img src="/img/photo-date.webp" />
      </div>
    </div>
    <div class="info-place info-contents">
      <div class="info-contents-text">
        <div class="info-contents-title">
          <img src="/svg/title-place.svg" />
        </div>
        <div class="info-contents-title-ja">会場</div>
        <div class="info-contents-place">霞山会館ウエディング</div>
        <div class="info-contents-place-address">
          <a
            href="https://goo.gl/maps/SFdgzWu9HjL17ZnVA"
            rel="noopener noreferrer"
            target="_blank"
            >〒100-0013 東京都千代田区霞が関三丁目2番1号<br />霞が関コモンゲート西館37階</a
          >
        </div>
        <a
          class="info-contents-place-address-btn"
          href="https://www.kazankaikan-wedding.com/"
          rel="noopener noreferrer"
          target="_blank"
        >
          <p>公式サイト</p>
        </a>
      </div>
      <div class="info-img">
        <img src="/img/photo-place.webp" />
      </div>
    </div>
  </div>
</section>
