<section class="kv">
  <div class="canvas">
    <canvas></canvas>
  </div>
  <div class="kv-wrap">
    <div class="kv-inner">
      <div class="kv-text kv-text-man">
        <div class="kv-text-sub">
          <p>新郎</p>
        </div>
        <div class="kv-text-name">
          <p>岡村裕樹</p>
          <div
            class="kv-text-name-deco js-lootieAnimation kv-text-name-deco1"
            data-path="/json/kv-okamura-en.json"
          ></div>
        </div>
        <div class="kv-text-en"><p>Yuki Okamura</p></div>
      </div>
      <div class="kv-img">
        <div
          class="kv-img-deco kv-img-deco1 js-lootieAnimation"
          data-path="/json/ornament-marumado-a.json"
        >
          <!-- <img src="/svg/ornament-marumado-a.svg" /> -->
        </div>
        <div class="kv-img-main">
          <div class="kv-img-main-inner">
            <img src="/img/marumado-photo.webp" class="kv-img-main-img" />
            <img src="/img/marumado-waku.webp" class="kv-img-main-waku" />
          </div>
        </div>
        <div
          class="kv-img-deco kv-img-deco2 js-lootieAnimation"
          data-path="/json/ornament-marumado-b.json"
        >
          <!-- <img src="/svg/ornament-marumado-b.svg" /> -->
        </div>
      </div>
      <div class="kv-text kv-text-lady">
        <div class="kv-text-sub"><p>新婦</p></div>
        <div class="kv-text-name">
          <p>佐藤多希</p>
          <div
            class="kv-text-name-deco js-lootieAnimation kv-text-name-deco2"
            data-path="/json/bg-ornament-kv-sato.json"
          ></div>
        </div>
        <div class="kv-text-en"><p>Taki Sato</p></div>
      </div>
    </div>
    <div class="kv-goto-rsvp js-anchor" data-target="#attendance">
      <a href=""> 出欠のお返事は<br />こちらから</a>
    </div>
  </div>
  <div class="kv-message">
    <div class="kv-message-bg">
      <svg class="border-bg">
        <path />
      </svg>
    </div>
    <div class="kv-message-inner">
      <div class="kv-message-title">
        <%-include('../svg/title-message.svg')%>
      </div>
      <div class="kv-message-contents">
        <p>
          皆様いかがお過ごしでしょうか<br />このたび
          結婚式を執り行うこととなりました
        </p>
        <p>
          日頃お世話になっております <br class="sp_only" />みなさまに
          私どもの門出を<br />お見守りいただきたく<br
            class="sp_only"
          />ささやかながら小宴を催したく存じます
        </p>
        <p>
          ご多用中 誠に恐縮ではございますが<br
            class="sp_only"
          />ぜひご出席いただきたく<br />ご案内申し上げます
        </p>
        <p>岡村裕樹<br />佐藤多希</p>
      </div>
    </div>
  </div>
</section>
