<section class="map">
  <div class="map-inner">
    <div class="map-bg">
      <svg class="border-bg">
        <path />
      </svg>
    </div>
    <div class="map-contents">
      <div class="map-contents-tit">霞山会館ウエディング</div>
      <div class="map-contents-link">
        <a
          href="https://www.kazankaikan-wedding.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          kazankaikan-wedding.com
        </a>
      </div>
      <div class="map-contents-googleMap">
        <div class="map-contents-googleMap-inner" id="map"></div>
      </div>
      <div class="map-contents-des">
        <p><a href="tel:03-3581-1022">電話番号：03-3581-1022</a></p>
        <p>
          〒100-0013 東京都千代田区 霞が関三丁目　2番1号<br />霞が関コモンゲート西館37階
        </p>
        <p>
          地下鉄虎ノ門駅／東京メトロ銀座線虎ノ門駅11番出口より徒歩1分<br />東京メトロ丸ノ内線・日比谷線・千代田線霞ヶ関駅A13出口より徒歩5分、東京駅より車で約8分
        </p>
      </div>
    </div>
  </div>
</section>
