<section class="profile">
  <div class="profile-inner">
    <div class="profile-title">
      <img src="/svg/title-profile.svg" />
    </div>
    <div class="profile-items">
      <div class="profile-item profile-item-shinro">
        <div class="profile-item-title"><p>新郎</p></div>
        <div class="profile-item-img">
          <div class="profile-item-img-main">
            <img src="/img/photo-man.webp" />
          </div>
          <div class="profile-item-img-name">
            <div class="profile-item-img-name-first profile-item-img-name-item">
              <img src="/svg/ornament-yuki.svg" />
            </div>
            <div
              class="profile-item-img-name-family profile-item-img-name-item"
            >
              <img src="/svg/ornament-okamura.svg" />
            </div>
          </div>
        </div>
        <div class="profile-item-des">
          <p class="profile-item-des-name">岡村裕樹</p>
          <p class="profile-item-des-contents">
            1988年3月1日、東京都生まれ。会社員。 アウトドアが好きで週末は車で
            少し遠くまで出掛けます。犬が好きです。
            美味しい料理をご用意してお待ちしています！
          </p>
        </div>
      </div>
      <div class="profile-item profile-item-shinpu">
        <div class="profile-item-title"><p>新婦</p></div>
        <div class="profile-item-img">
          <div class="profile-item-img-main">
            <img src="/img/photo-woman.webp" />
          </div>
          <div class="profile-item-img-name">
            <div class="profile-item-img-name-first profile-item-img-name-item">
              <img src="/svg/ornament-taki.svg" />
            </div>
            <div
              class="profile-item-img-name-family profile-item-img-name-item"
            >
              <img src="/svg/ornament-sato.svg" />
            </div>
          </div>
        </div>
        <div class="profile-item-des">
          <p class="profile-item-des-name">佐藤多希</p>
          <p class="profile-item-des-contents">
            1990年12月14日、新潟県生まれ。会社員。
            田舎で育ったためかのんびりした性格です。
            本を読んだり、映画を見ることが好きです。
            皆様にお会いできる日を楽しみにしています。
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
