<section class="profile">
  <div class="profile-inner">
    <div class="profile-title">
      <img src="/svg/title-profile.svg" />
    </div>
    <div class="profile-items">
      <div class="profile-item profile-item-shinro">
        <div class="profile-item-title"><p>新郎</p></div>
        <div class="profile-item-img">
          <div class="profile-item-img-main">
            <img src="/img/photo-man.webp" />
          </div>
          <div class="profile-item-img-name">
            <div class="profile-item-img-name-first profile-item-img-name-item">
              <img src="/svg/ornament-yuki.svg" />
            </div>
            <div
              class="profile-item-img-name-family profile-item-img-name-item"
            >
              <img src="/svg/ornament-okamura.svg" />
            </div>
          </div>
        </div>
        <div class="profile-item-des">
          <p class="profile-item-des-name">岡村裕樹</p>
          <p class="profile-item-des-contents">
            1993年6月28日、茨城県生まれ。スポーツ観戦が好きで海外サッカーをよくみてます。都内の会社でフルリモートでエンジニアをしてます。ちなみにこのサイトも作りました！
          </p>
        </div>
      </div>
      <div class="profile-item profile-item-shinpu">
        <div class="profile-item-title"><p>新婦</p></div>
        <div class="profile-item-img">
          <div class="profile-item-img-main">
            <img src="/img/photo-woman.webp" />
          </div>
          <div class="profile-item-img-name">
            <div class="profile-item-img-name-first profile-item-img-name-item">
              <img src="/svg/ornament-taki.svg" />
            </div>
            <div
              class="profile-item-img-name-family profile-item-img-name-item"
            >
              <img src="/svg/ornament-sato.svg" />
            </div>
          </div>
        </div>
        <div class="profile-item-des">
          <p class="profile-item-des-name">佐藤多希</p>
          <p class="profile-item-des-contents">
            1996年10月28日、宮城県生まれ。学生時代はお散歩サークルで都内を中心にお散歩してました。金融系企業の営業で、北東北を中心に車で駆け巡っています。
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
