<div class="sidebar-wrap">
  <div class="sidebar"><p>11.4 sat.</p></div>
</div>
<div class="sidebar-wrap sidebar-wrap-right">
  <div class="sidebar"><p>KAZAN KAIKAN</p></div>
</div>
<!-- <div class="sidebar"><p>KAZAN KAIKAN</p></div> -->
