.attendance {
  position: relative;
  background-image: url("/img/bg-pattern-rsvp.webp");
  background-size: 167px * 0.5;
  padding-top: 160px;
  padding-bottom: 160px;
  @include media-sp($bp) {
    padding: 80px 16px;
  }
  &-title {
    text-align: center;
    &-en {
      height: 78px * 0.5;
      img {
        height: 100%;
        width: auto;
      }
    }
    &-ja {
      margin-top: 20px;
      line-height: 1;
      font-size: remToPx(1.125);
      color: white;
    }
  }

  &-des {
    color: white;
    text-align: center;
    margin-top: 32px - remToPx(0.875) * 0.3;

    p {
      font-size: remToPx(0.875);
      line-height: 1.6;
      & + p {
        margin-top: 32px - remToPx(0.875) * 0.6;
      }
    }

    span {
      font-size: remToPx(1.75);
      font-weight: 600;
      line-height: 1;
      position: relative;
      @include media-sp($bp) {
        display: inline-block;
        margin-bottom: 20px;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 100%;
        height: 1px;
        background-image: url("/img/dashed-line.svg");
        background-size: 100% 1px;
      }
    }
  }

  &-form {
    margin-top: 80px - remToPx(0.875) * 0.6;
    max-width: 880px;
    width: 80%;
    margin: 80px - remToPx(0.875) * 0.6 auto 0;
    position: relative;
    clip-path: polygon(
      15px 0%,
      calc(100% - 15px) 0%,
      100% 15px,
      100% calc(100% - 15px),
      calc(100% - 15px) 100%,
      15px 100%,
      0% calc(100% - 15px),
      0% 15px
    );
    @include media-sp($bp) {
      width: 100%;
    }
    form {
      position: relative;
      padding: 80px 30px;
      max-width: 800px;
      margin: auto;
      @include media-sp($bp) {
        padding: 80px 32px;
      }
    }

    &-des {
      font-size: remToPx(0.875);
      line-height: 1;
      span {
        color: #d44242;
      }
      &.center {
        text-align: center;
      }
    }

    &-btns {
      margin-top: 40px + 25px;
      margin-bottom: 40px;
      display: flex;
      justify-content: center;
      gap: 20%;
    }
    &-btn {
      height: 150px;
      width: 150px;
      text-align: center;
      position: relative;
      display: flex;
      flex-flow: column;
      justify-content: center;
      cursor: pointer;
      @include media-sp($bp) {
        width: 50%;
        height: auto;
        aspect-ratio: 1 / 1;
      }
      &:hover {
        .attendance-form-btn-inner {
          transform: scale(0.95);
        }

        .circleMask {
          stroke-dashoffset: 150px * math.$pi * 2;
        }
      }
      @keyframes loopRotate {
        to {
          transform: rotate(360deg);
        }
      }

      &-deco {
        position: absolute;
        top: -15px;
        left: -15px;
        width: 180px;
        height: 180px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 2s $ease;
        @include media-sp($bp) {
          width: calc(100% + 30px);
          height: calc(100% + 30px);
        }
        &::after {
          content: "";
          width: 100%;
          height: 100%;
          background-image: url("/svg/ornament-attend-absence-line.svg");
          background-size: 180px;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          animation: loopRotate 20s linear infinite;
          @include media-sp($bp) {
            background-size: 100%;
          }
        }
        &::before {
          content: "";
          width: 100%;
          height: 100%;
          background-image: url("/svg/ornament-attend-absence-fill.svg");
          background-size: 180px;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          animation: loopRotate 25s linear infinite;
          @include media-sp($bp) {
            background-size: 100%;
          }
        }
        span {
          width: 614px * 0.5;
          height: 556px * 0.5;
          background-image: url("/svg/ornament-attend-absence-thank-you.svg");
          background-size: 614px * 0.5 556px * 0.5;
          display: block;
          position: absolute;
          margin: 50% 50%;
          transform: translateX(-50%) translateY(-50%);
          @include media-sp($bp) {
            width: math.div(307, 220) * 100%;
            height: auto;
            aspect-ratio: 614 / 556;
            background-size: 100%;
          }
        }
      }
      &.active {
        .circleMask {
          transition: stroke-dashoffset 1s $easeExpo;
          stroke-dashoffset: 150px * math.$pi;
        }
        .attendance-form-btn-deco {
          opacity: 1;
        }
      }
      &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        svg {
          width: 100%;
          height: 100%;
          .circleMask {
            transform-origin: center;
            transform: rotate(-90deg);
            stroke-dasharray: 150px * math.$pi;
            stroke-dashoffset: 0;
            transition: stroke-dashoffset 4s $easeExpo;
          }
        }
      }
      &-inner {
        position: relative;
        transition: transform 1s $easeExpo;
      }
      &-ja {
        font-size: remToPx(1.5);
        line-height: 1;
        font-weight: 600;
      }
      &-en {
        font-size: remToPx(0.75);
        margin-top: remToPx(0.75);
      }
    }

    &-items {
      margin-top: 32px;
    }

    &-item {
      border-top: 1px solid #d7d3cf;
      padding: 32px 0;
      &:last-child {
        padding-bottom: 0;
      }
      label {
        font-size: remToPx(0.875);
        margin-bottom: 12px;
        line-height: 1;
        display: block;
      }

      input {
        display: block;
        width: 100%;
        height: remToPx(3.125);
        padding-left: 1em;
        padding-right: 1em;
        font-size: 16px;
        position: relative;
        z-index: 1;
        outline: none;
      }
      .input-wrap {
        position: relative;

        &-svg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          path {
            stroke: rgba(0, 0, 0, 0.3);
            fill: none;
            stroke-width: 2px;
          }
        }
      }
      &-flex {
        display: flex;
        gap: 0 40px;
        @include media-sp($bp) {
          display: block;
        }

        & + & {
          margin-top: 32px;
        }
        & + .attendance-form-item-box {
          margin-top: 32px;
        }
        &-item {
          width: 50%;
          @include media-sp($bp) {
            width: 100%;
            & + & {
              margin-top: 32px;
            }
          }
        }
      }
      &-box + &-box {
        margin-top: 32px;
      }
      textarea {
        width: 100%;
        height: 300px;
        position: relative;
        padding: 1em;
        font-size: 16px;
        line-height: 1.6;
        z-index: 2;
      }

      &-title {
        width: 150px;
        flex-shrink: 0;
        font-size: 14px;
        @include media-sp($bp) {
          width: 100%;
        }

        &::after {
          content: " : ";
        }
      }
      &-des {
        font-size: 14px;
        line-height: 1.5;
        .comfirmation & {
          @include media-sp($bp) {
            margin-top: 10px;
          }
        }
      }

      &-comfirm {
        padding-bottom: 32px;
      }

      &-btns {
        display: flex;
        gap: 20px;
        .comfirmation & {
          @include media-sp($bp) {
            display: block;
            button {
              display: block;
              & + button {
                margin-top: 20px;
              }
            }
          }
        }
        .backbtn {
          background-color: transparent;
          color: #000;
          position: relative;
          svg path {
            stroke-width: 1px;
          }
        }
      }
    }
  }

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/bg-paper.webp);
    background-size: 543.5px 477.5px;
    overflow: hidden;
    pointer-events: none;
    svg {
      width: 100%;
      height: 100%;
      position: relative;

      z-index: 1;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 280px;
      left: auto;
      right: -50px;

      // transform: translateY(10%);
      aspect-ratio: 732 / 726;
      width: 25%;
      background-image: url("/img/bg-flower.webp");
      background-size: contain;
      background-repeat: no-repeat;
      // mix-blend-mode: darken;
      opacity: 0.5;
      min-width: 300px;
      @include media-sp($bp) {
        width: 75%;
      }
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 100px;
      left: -50px;
      // right: -50px;

      transform: scaleX(-1);
      aspect-ratio: 732 / 726;
      width: 25%;
      background-image: url("/img/bg-flower.webp");
      background-size: contain;
      background-repeat: no-repeat;
      // mix-blend-mode: darken;
      opacity: 0.5;
      min-width: 300px;
      @include media-sp($bp) {
        width: 75%;
      }
    }
  }

  button {
    padding: 0 20px;
    height: 60px;
    color: white;
    background-color: rgb(91, 81, 59);
    text-align: center;
    font-size: remToPx(0.875);
    clip-path: polygon(
      5px 0%,
      calc(100% - 5px) 0%,
      100% 5px,
      100% calc(100% - 5px),
      calc(100% - 5px) 100%,
      5px 100%,
      0% calc(100% - 5px),
      0% 5px
    );
    letter-spacing: 0.05em;
  }

  .required label::after {
    content: "*";
    color: #d44242;
  }
}
