.profile {
  background-color: #d9dbd0;
  padding: 160px remToPx(3.75);
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: remToPx(3.75);
    // width: 955px * 0.5;
    width: math.div(955, 1280) * 100% * 0.5;
    max-width: 955px * 0.5;
    // height: 1129px * 0.5;
    aspect-ratio: 740 / 858;
    background-size: 100%;
    background-image: url("/img/bg-ornament-profile-a.webp");
    background-blend-mode: multiply;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: remToPx(3.75);
    // width: 955px * 0.5;
    width: math.div(955, 1280) * 100% * 0.5;
    max-width: 955px * 0.5;
    // height: 1129px * 0.5;
    aspect-ratio: 779 / 976;
    background-size: 100%;
    background-image: url("/img/bg-ornament-profile-b.webp");
    background-blend-mode: multiply;
  }

  &-inner {
    position: relative;
    z-index: 1;
  }

  &-title {
    text-align: center;
    height: remToPx(3.25);
    margin-bottom: 40px - remToPx(0.8125);
    img {
      width: auto;
      height: 100%;
    }
  }

  &-items {
    display: flex;
    justify-content: center;
    // gap: 0 16%;
    margin: 0 8%;
  }

  &-item {
    width: 50%;
    flex-shrink: 1;
    &-title {
      display: block;
      width: remToPx(0.875) * 1.6;
      .profile-item-shinpu & {
        margin-left: auto;
        margin-right: 0;
      }
      p {
        writing-mode: vertical-lr;
        line-height: 1.6;
        letter-spacing: 0.75em;
        font-size: remToPx(0.875);
        margin-bottom: 16px;
      }
      &::after {
        width: 1px;
        height: 40px;
        content: "";
        display: block;
        margin: auto;
        font-size: 0;
        background-color: #000;
      }
    }

    &-img {
      width: 62%;
      position: relative;
      .profile-item-shinro & {
        margin-right: 16%;
        margin-left: auto;
      }
      .profile-item-shinpu & {
        margin-left: 16%;
        margin-right: auto;
      }
      &-main {
        img {
          width: 100%;
        }
      }

      &-name {
        position: absolute;
        bottom: 0;
        margin-bottom: -8%;
        width: 100%;
        &-item {
          padding-top: math.div(60, 288) * 100%;
          position: relative;
          img {
            position: absolute;
            top: 0;

            height: 100%;
            width: auto;
          }
        }
        // img {
        // //   height: remToPx(3.75);

        //   display: block;
        // }
        &-first {
          .profile-item-shinro & {
            left: -39%;
          }
          .profile-item-shinpu & {
            margin-right: 0;
            margin-left: auto;
            right: -40%;
            img {
              right: 0;
              left: auto;
            }
          }
        }
        &-family {
          margin-top: 5%;
          .profile-item-shinro & {
            left: -10%;
          }
          .profile-item-shinpu & {
            margin-right: 0;
            margin-left: auto;
            right: -10%;
            img {
              right: 0;
              left: auto;
            }
          }
        }
      }
    }

    &-des {
      margin-top: 80px;
      width: 75%;
      .profile-item-shinpu & {
        margin-left: auto;
        margin-right: 0;
      }
      &-name {
        font-size: remToPx(1.5);
        line-height: 1;
      }
      &-contents {
        margin-top: 32px - (remToPx(0.875) * 1.6 - remToPx(0.875)) * 0.5;
        font-size: remToPx(0.875);
        line-height: 1.6;
      }
    }
  }
}
